## Index
1. [Modules](#Modules)
2. [Connect to data base](#Connect-to-data-base)
3. [How to execute queries](#How-to-execute-queries)
4. [Get results with fetchall method](#Get-results-with-fetchall-method)
5. [Get single values with fetchone method](#Get-single-values-with-fetchone-method)
6. [Get single values with fetchval method](#Get-single-values-with-fetchval-method)
7. [Get single values with fetchmany method](#Get-single-values-with-fetchmany-method)
8. [Create a table](#Create-a-table)
9. [Get a query into a Data Frame](#Get-a-query-into-a-Data-Frame)
10. [Close connection](#Close-Connection)

# Modules

In [1]:
import pyodbc
import pandas as pd

# Connect to data base

In [61]:
db = pyodbc.connect('DRIVER={NetezzaSQL(in this case, depend)};'
                    +'SERVER=xxxxx.xx.xxxxx.com;'
                    +'PORT=0000;'
                    +'DATABASE=XXXX;'
                    +'UID=my_user;'
                    +'PWD=my_password;')

# How to execute queries

1. First call the method cursor

In [3]:
cursor = db.cursor()

2. Then, execute a query

In [12]:
query ="""
SELECT 
    estadociv,
    sexo,
    viviendatipdes
FROM val_may18
LIMIT 5;
"""

In [13]:
cursor.execute(query)

# Get results with fetchall method

In [6]:
result = cursor.fetchall()

**Now, it's possible reading the result row by row as follow:**

In [7]:
result[0]

('C', 'M', 'Casa')

In [8]:
result[1]

('S', 'M', 'Casa')

**Another way is by using a for loop:**

In [9]:
for row in result:
    print(row.ESTADOCIV, row.SEXO, row.VIVIENDATIPDES)

C M Casa
S M Casa
S F Casa
C M Casa
U M Casa

**Note:** Don't forget to use upper case letters.

**Close the cursor**

In [18]:
cursor.close()

# Get single values with fetchone method

This method just get one value from the query, it does not matter how many rows it wanna get.

In [22]:
cursor = db.cursor()

In [23]:
query ="""
SELECT 
    estadociv,
    sexo,
    viviendatipdes
FROM val_may18
LIMIT 5;
"""

In [24]:
cursor.execute(query)

In [25]:
result = cursor.fetchone()

In [26]:
result

('U', 'M', 'Casa')

In [27]:
cursor.close()

# Get single values with fetchval method

In [28]:
cursor = db.cursor()

query ="""
SELECT 
    count(*)
FROM val_may18;
"""
cursor.execute(query)

In [29]:
result = cursor.fetchval()

In [30]:
result

50747

In [31]:
cursor.close()

# Get single values with fetchmany method

In [42]:
cursor = db.cursor()

query ="""
SELECT 
    MAX(obs),
    MIN(obs)
FROM training;
"""
cursor.execute(query)

In [43]:
result = cursor.fetchmany()

In [44]:
result

[(201712.0, 201401.0)]

In [45]:
cursor.close()

# Create a table

In [46]:
cursor = db.cursor()

In [47]:
query ="""
CREATE TABLE pyodbc_cb_test1 AS
SELECT *
FROM training
LIMIT 10;
"""

In [48]:
cursor.execute(query)

In [51]:
query ="""
SELECT *
FROM pyodbc_cb_test1;
"""

In [52]:
cursor.execute(query)

In [53]:
result = cursor.fetchall()

In [54]:
for row in result:
    print(row.ESTADOCIV, row.SEXO, row.VIVIENDATIPDES)

C M Casa
S M Casa
C M Casa
S F Casa
C M Casa
C F Casa
S M Casa
C M Casa
C M Casa
S M Casa

In [55]:
cursor.close()

# Get a query into a Data Frame

In [56]:
query ="""
SELECT
    estadociv,
    sexo,
    viviendatipdes
FROM pyodbc_cb_test1;
"""

In [57]:
df = pd.read_sql_query(sql=query, con=db)

**Note:** Remember db is the connection to the data base.

In [58]:
df

  ESTADOCIV SEXO VIVIENDATIPDES
0         S    M           Casa
1         C    M           Casa
2         C    F           Casa
3         C    M           Casa
4         C    M           Casa
5         S    M           Casa
6         C    M           Casa
7         S    M           Casa
8         C    M           Casa
9         S    F           Casa

# Close Connection

In [62]:
db.close()